ion-header-bar
{
    background-color: maroon !important;
    color: white !important;
}
ion-header-bar .title
{
    color: white !important;
}

.msl-center-text { text-align: center;}


*
{
    color: maroon !important;
}

html body ion-nav-bar div ion-header-bar button i,
html body ion-nav-bar div ion-header-bar button span,
.popup-buttons button
{
    color: white !important;
}