<div class="row">
    <div class="col">No.</div>
    <div class="col">When</div>
    <div class="col">vs.</div>
    <div class="col text=center">H/V</div>
</div>
<div ng-repeat="game in data.schedule | filter: {team_identifier: data.team_id}" class="row">
    <div class="col">{{$index + 1}}</div>
    <div class="col">{{game.game_date_time}}</div>
    <div class="col text=center" ng-switch="{{game.is_home_team}}">
        <span ng-switch-when="0">{{game.home_team}}</span>
        <span ng-switch-default>{{game.visiting_team}}</span>
    </div>
    <div class="col text=center" ng-switch="{{game.is_home_team}}">
        <span ng-switch-when="0">V</span>
        <span ng-switch-default>H</span>
    </div>
</div>